body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
}
#control{
  display: flex;
  flex-direction: column;
}
#xterm1{
  border: 4px solid rebeccapurple;
  background-color: rgb(139, 116, 161);
  width: 100%;
  height: 100%;
}
#xterm2 {
  border: 4px solid rgb(231, 126, 35);
  background-color: rgb(223, 188, 158);
  flex:2;   
  display:none;
}
.xterm_wrapper{
  width: 100%;
  height: 100%;
}
.terminals{
  width: 100%;
  height: 100%;
}
